* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}
h1 {
  font-weight: bold;
  font-size: 5rem;
  margin-block: 3.125rem;
  font-family: Impact;
}

p {
  margin-block: 2.1875rem;
  font-size: 2.1875rem;
}

button {
  background-color: blue;
  color: black;
  padding-inline: 4.375rem;
  padding-block: 2.1875rem;
  font-size: 1.5625rem;
  font-weight: bold;
  transition: all 0.4s;
  border-radius: 1.5625rem;
  border: none;
  cursor: pointer;
  letter-spacing: 0.25rem;
}

button:hover {
  background-color: green;
  color: white;
}

#quote,
#author {
  margin-top: 2.5rem;
  font-weight: bold;
  font-size: 1.875rem;
  max-width: 62.5rem;
  margin-inline: auto;
  text-align: center;
  line-height: 3.125rem;
}
